<!DOCTYPE html>

<style>

h2 {
    text-align: center;
    background-color: white;
    color: black;
    font-family: Georgia;
    border:3px solid black;
    padding:11px;

}


div  {
    text-align: center;
}

</style>


<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">

  	<style>

  body {
    color: black;
    font-family: Georgia;
    }
    
  </style>
  
    <%= f.submit "Resend confirmation instructions" %>

  </div>
  
<% end %>

<%= render "devise/shared/links" %>
