<div class='panel panel-default'>
  <div class="panel-heading">
    <%= comment.name  %>
  </div>

  <div class="panel-body">
    <p><%= comment.description  %></p>
  </div>

  <div class="panel-footer">
    Filled under: <%= comment.martial_art.name  %> by <%= comment.user.email  %> on <%= ad.created_at  %>
</div>

</div>
